# Grafana datasource provisioning configuration
#
# This file configures Prometheus and Mimir as datasources for Grafana.

apiVersion: 1

datasources:
  # Prometheus datasource (primary for real-time data)
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.48.0
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m

  # Mimir datasource (for long-term storage queries)
  - name: Mimir
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: false
    editable: false
    jsonData:
      httpMethod: POST
      prometheusType: Mimir
